doctype html
html
  head
    title="F-board"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    script(src="//cdn.socket.io/socket.io-1.2.0.js")
    script(src="//code.jquery.com/jquery-2.1.4.min.js")

body
    div.container-fluid
        block content
